* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5b2e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--primary {
  color: #fff !important;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}

.section-desc {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}
