/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

* {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1.53rem;
    --header-height: 5.6rem;
    --small-font-size: 1.3008rem;
    --smaller-font-size: 1.2rem;
    --biggest-font-size: 3.2rem;
    --h1-font-size: 2.4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.6rem;

    /*========== Colors ==========*/
    --hue: 14;
    --first-color: hsl(var(--hue), 91%, 54%);
    --first-color-alt: hsl(var(--hue), 91%, 50%);
    --title-color: hsl(var(--hue), 4%, 100%);
    --text-color: hsl(var(--hue), 4%, 85%);
    --text-color-light: hsl(var(--hue), 4%, 55%);

    /*Green gradient*/
    --body-color: linear-gradient(90deg, hsl(104, 28%, 40%) 0%, hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);


    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.4rem;
    --mb-0-5: .5rem;
    --mb-0-75: 1.2rem;
    --mb-1: 1.6rem;
    --mb-1-5: 2.4rem;
    --mb-2: 3.2rem;
    --mb-2-5: 4rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--body-font);
    background: var(--body-color);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

/* Common */
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h3 {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.section {
    padding: 7.2rem 0 3.2rem;
}

.nav-btn {
    border: 1px solid #fff;
    color: var(--title-color);
    padding: 1.2rem 2.4rem;
    border-radius: 4.8rem;
    cursor: pointer;
}

.btn {
    --width: 150px;
    --height: 55px;

    display: inline-block;
    padding: 1.6rem 2.8rem;
    background-color: var(--first-color);
    border-radius: 0.8rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    /* transition: .3s; */
    max-width: var(--width);
    max-height: var(--height);
    line-height: 1.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Layout */
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

/* Header */
.header {
    width: 100%;
    position: sticky;
    background: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* Nav */
.nav__link,
.nav__logo-link,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav {
    flex-direction: column;
    text-align: center;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.nav__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.8rem;
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__logo-img {
    width: 2rem;
}

.nav__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2.4rem;
}

.nav__list--hide {
    display: none;
}

/* Home */
.home__list {
    display: flex;
    overflow: hidden;
}

.home__item {
    display: grid;
    width: 100%;
    row-gap: 1.6rem;
    flex-shrink: 0;
}

.home__group {
    display: grid;
    padding-top: 3.2rem;
    position: relative;
}

.home__img {
    height: 250px;
    justify-self: center;
}

.home__indicator {
    height: 8px;
    width: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    position: absolute;
    top: 11.2rem;
    right: 3.2rem;
}

.home__indicator::before {
    content: "";
    height: 48px;
    width: 1px;
    background-color: var(--title-color);
    position: absolute;
    top: -4rem;
    right: 45%;
}

.home__details-img {
    position: absolute;
    right: .8rem;
}

.home__details-title,
.home__details-desc {
    font-size: var(--small-font-size);
    text-align: right;
    margin-bottom: 6px;
}

.home__data-rank {
    margin-bottom: var(--mb-1);
    font-size: var(--h3-font-size);
    text-transform: uppercase;
}

.home__data-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-1);
    line-height: 2.2rem;
}

.home__cta-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__btn-tracking {
    display: inline-flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--title-color);
}

.home-tracking__icon {
    font-size: 2rem;
}

.home__btn-slider {
    display: flex;
    column-gap: 16px;
    margin-top: var(--mb-1);
    justify-content: center;
    align-items: center;
    /* transition: .3s opacity; */
    /* transform: translate3d(0, 0, 0); */
    padding-bottom: 5px;
}

.home__slider-dot {
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
    cursor: pointer;

}

.home__slider-dot--active {
    width: 24px;
    border-radius: 8px;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
    line-height: 1.4;
}

.category__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem 3.2rem;
}

.category__item {
    text-align: center;
}

.category__img {
    width: 120px;
    margin-bottom: var(--mb-0-75);
}

.category__title {
    margin-bottom: var(--mb-0-25);
}

.category__desc {
    line-height: 1.4;
}

/* Scroll up */
.scrollup {
    position: fixed;
    bottom: -20%;
    right: 1.6rem;
    background: var(--container-color);
    display: inline-flex;
    padding: 0.48rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    opacity: .8;
}

.show-scroll{
    bottom: 4.8rem;
}

.scrollup__icon{
    font-size: 2rem;
    color: var(--title-color);
}

@media screen and (min-width: 767px) {
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
}